header {
  text-align: center;
  margin-bottom: 50px;
}

h3 {
  text-align: center;
}

#images {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#totals {
  background-color: #9FC9F7;
  width: 400px;
  margin: 50px auto;
}

#chart {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

img {
  width: 300px;
  height: auto;
  display: inline-block;
  border: 1px solid black;
  vertical-align: middle;
  margin: 10px 15px;
}

ul {
  list-style: none;
  line-height: 1.2em;
  text-align: center;
  padding-left: 0;
}

li {
  margin: 10px
}

#button {
  width: 100px;
  margin: 20px auto;
}
button {
  padding: 5px 20px;
}